<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionuploadimages220231031195642.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b0fd0a92-5178-48a1-bd9c-666ad405b37a/resourcegroups/BootcampAzureTask/providers/Microsoft.Web/sites/AzureFunctionUploadImages220231031195642</ResourceId>
    <UserName>$AzureFunctionUploadImages220231031195642</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azurefunctionuploadimages220231031195642.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>